<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="shortcut icon" href="./aport/logo.jpg" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="./main.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/kursor/dist/kursor.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script defer src="./jquery.min.js"></script>

    <title>About me</title>
     <style>
    body {
      color: #fff;
      font-family: Arial, sans-serif;
    }
    .skills-section {
      padding: 50px 0;
    }
    .progress {
      background-color: #333;
      height: 8px;
      border-radius: 5px;
      overflow: hidden;
    }
    .progress-bar {
      background-color: #1234f3;
    }
    .skill-item {
      margin-bottom: 25px;
    }
    .skill-title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      font-weight: bold;
    }
    .section-title {
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 40px;
    }
  </style>
  </head>

  <body style="background: linear-gradient(to right, #00093c, #2d0b00)">

    <header>
      <div class="logo">
        <a href="">
          <h2 style="color: #fff">
            <i class="fa-regular fa-star-half-stroke" style="color: blue"></i>
            <span style="color: blue">FRANKS</span>WEB
            <i class="fa-solid fa-star"></i>
          </h2>
        </a>
      </div>

      <nav>
        <input type="checkbox" id="sidebar-active" />
        <label for="sidebar-active" class="open-sidebar-button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="32"
            viewBox="0 -960 960 960"
            width="32"
          >
            <path
              d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
            />
          </svg>
        </label>
        <label id="overlay" for="sidebar-active"></label>
        <div class="links-container">
          <label for="sidebar-active" class="close-sidebar-button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="32"
              viewBox="0 -960 960 960"
              width="32"
            >
              <path
                d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
              />
            </svg>
          </label>
          <a href="/"><i class="fa-solid fa-star-half"></i>HOME</a>
          <a href="/about">ABOUT</a>
          <a href="#service1">SERVICES</a>
          <a href="#skill">SKILLS</a>
          <a href="#contacts">CONTACT</a>
          <a href="#support">SUPPORT</a>
        </div>
      </nav>
    </header>

    <div class="container-fluid text-light" style="padding-top: 200px">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-7" data-aos="zoom-in">
          <em>welcome_!</em>
          <br />
          <br />
          <h1>Hi, my name is MR_FRANK</h1>
          <h2 class="pl-5">Am a Full stack Developer</h2>

          <br />
          <p>
            This are the programming languages,Frameworks and tools that am
            proficient in: html/css/javascript/react/node.js etc. I have worked
            on personal and professional projects that includes developing of
            frontend and backend or full stack websites.
          </p>
        </div>
        <div class="col-md-3"></div>
      </div>

      <h2 class="design" data-aos="flip-up">
        I design & develop <span id="services">UI/UX</span>
      </h2>
    </div>

    <div class="container-fluid">
      <div class="row pool">
        <div class="col-md-6">
          <img
            src="./aport/single.jpg"
            alt=""
            class="animate-img"
            data-aos="zoom-out-right"
          />
        </div>
        <div class="col-md-6 pt-3">
          <h2 style="color: blue" data-aos="zoom-out-right">
            <span style="color: crimson; font-family: papyrus">ABOUT</span> ME
          </h2>
          <p class="text-light" data-aos="zoom-out-right">
            AM MR_FRANK by name a full stack developer with a deep passion for
            coding and technology. I thrive on solving complex problems and
            creating innovative solutions that enhance user experiences. In
            terms of skills, I am proficient in a variety of programming
            languages, frameworks, and tools, including HTML, CSS, JavaScript,
            React, Node.js, MongoDB, and more. My expertise spans both front-end
            and back-end development, allowing me to build robust and dynamic
            web applications. My learning journey has been marked by a
            continuous quest for knowledge and growth. I stay updated with the
            latest trends in web development through online courses, tech blogs,
            and networking with industry professionals. This commitment to
            learning fuels my desire to tackle challenging projects and make
            meaningful contributions to the tech industry. In conclusion, I am
            enthusiastic about the opportunities that lie ahead as a full stack
            developer. With a solid foundation in both front-end and back-end
            development, a thirst for knowledge, and a collaborative mindset, I
            am ready to take on new challenges and make a positive impact in the
            ever-evolving world of technology.
          </p>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="container skills-section" id="skill">
      <h2 class="section-title">My Skills</h2>
      <p class="text-center mb-4">
        This are the few set of languages and frameworks, I am proficient in.
      </p>

      <div class="row">
        <!-- Left Column -->
        <div class="col-md-6">
          <div class="skill-item">
            <div class="skill-title">
              <span>HTML5</span>
              <span>95%</span>
            </div>
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 95%"
              ></div>
            </div>
          </div>

          <div class="skill-item">
            <div class="skill-title">
              <span>CSS</span>
              <span>89%</span>
            </div>
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 89%"
              ></div>
            </div>
          </div>

          <div class="skill-item">
            <div class="skill-title">
              <span>BOOTSTRAP</span>
              <span>89%</span>
            </div>
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 89%"
              ></div>
            </div>
          </div>
        </div>

        <!-- Right Column -->
        <div class="col-md-6">
          <div class="skill-item">
            <div class="skill-title">
              <span>MYSQL</span>
              <span>85%</span>
            </div>
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 85%"
              ></div>
            </div>
          </div>

          <div class="skill-item">
            <div class="skill-title">
              <span>NODE.JS</span>
              <span>90%</span>
            </div>
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 90%"
              ></div>
            </div>
          </div>

          <div class="skill-item">
            <div class="skill-title">
              <span>JAVASCRIPT</span>
              <span>80%</span>
            </div>
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 80%"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Section -->
    <footer class="footer" id="contacts" data-aos="zoom-in">
      <div class="container">
        <div class="row">
          <!-- About Section -->
          <div class="col-md-4">
            <div class="footer-logo">Franksweb</div>
            <p>
              I thrive on solving complex problems and creating innovative
              solutions that enhance user experiences.My learning journey has
              been marked by a continuous quest for knowledge and growth.
            </p>
          </div>

          <!-- Quick Links -->

          <!-- Contact Info -->
          <div class="col-md-4">
            <h5>Contact Us</h5>
            <p>
              <i class="fas fa-map-marker-alt"></i> ifite awka, first market.
            </p>
            <p><i class="fas fa-phone"></i> +234-7043-5018-77</p>
            <p><i class="fa-brands fa-whatsapp"></i> +234-9155-7547-52</p>
            <p><i class="fas fa-envelope"></i> mrfrankdeprogrammer@gmail.com</p>
          </div>

          <div class="col-md-4">
            <h5>Quick Links</h5>
            <ul class="list-unstyled">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About Us</a></li>
              <li><a href="#support">Support</a></li>
              <li><a href="#contacts">Contact</a></li>
              <li><a href="#service">Service</a></li>
              <li><a href="#skill">Skills</a></li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 text-center mt-4">
            <!-- Social Icons -->
             <div class="social-icons">
                        <a href="https://wa.me/*2349155754752"><i class="fa-brands fa-whatsapp"></i></a>
                       
                        <a href="https://instagram.com/@ahm_mr_frank"><i class="fab fa-instagram"></i></a>
                        
                        <a href="https://linkedin.com/in/"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://twitter.com/@MrFrank_De"><i class="fa-brands fa-twitter"></i></a>
                        <a href="https://t.me/@mrfrankde"><i class="fa-brands fa-telegram"></i></a>
                    </div>
            <p
              class="text-center d-flex justify-content-center pt-5 animate__animated animate__pulse"
            >
              Copyright © 2023 - 2024 Franksweb.com - All Rights Reserved.
            </p>
          </div>
        </div>
      </div>
    </footer>


        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/6787f696825083258e05ae4f/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
        </script>
        <!--End of Tawk.to Script-->

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/kursor"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script>
      function generateRandomText() {
        const allowed = ["UI/UX", "Mobile apps", "games", "Full stack apps"];
        const randomNum = Math.floor(Math.random() * allowed.length);
        let myService = allowed[randomNum];
        document.getElementById("services").innerText = myService;
      }

      setInterval(() => {
        // generateRandomTrash();
        generateRandomText();
      }, 2000);
    </script>
  </body>
</html>
